# Default ignored files
/shelf/
/workspace.xml

/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/App-8-Instant-Dictionary-Webapp.iml
